*{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
body{
    align-items: center;
}

/* NAVIGATION */
#headerNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90vmax;
    height: 6vmax;
}
#logoNav{
    width: 10.5vmax;
}
#headerNavSpans{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 74vmax;
    height: 100%;
}
#headerNavigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 46vmax;
    height: 100%;
}
#headerNavigation>a, #headerNavSpans>span{
    text-decoration: none;
    color: #1E1E1E;
    font-size: 1.3vmax;
    font-family: TNR;
}
#headerNavigation>a:hover{
    text-decoration: underline;
}

/* GENERAL MAIN */
#general{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:url(/images/sliderGeneralMain/image\ 1.png);
    background-size: cover;
    width: 100%;
    height: 42vmax;
}
#emtyGeneralMain{
    width: 100%;
    height: 32vmax;
}
#formGeneralMain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 86vmax;
    padding: 0 1.4vmax;
    height: 6.5vmax;
    border-radius: 0.5vmax;
    background-color: rgba(237, 240, 244, 0.5);
}
#inputsDatePeople>input[type=date]{
    display: flex;
    justify-content: center;
    width: 18vmax;
    height: 3.6vmax;
    padding: 0 1vmax;
    border-radius: 0.6vmax;
    border-color: transparent;
}
#inputsDatePeople>input[type=date]::-webkit-calendar-picker-indicator{
    background: url("/images/calendar.png") no-repeat;
    background-size: cover;
}
#forSelect{
    width: 18vmax;
    border-radius: 0.6vmax;
    background-color: white;
}
#inputsDatePeople>#forSelect>select{
    display: flex;
    justify-content: center;
    width: 18vmax;
    height: 3.6vmax;
    padding: 1.1vmax 1vmax 0 1vmax;
    border-radius: 0.6vmax;
    border-color: transparent;
}
#inputsDatePeople>#forSelect>select{
    appearance: none;
    /* background-color: white; */
    background: url("/images/people.png") no-repeat;
    background-position: 95%;
    background-size: 1vmax;
    margin-right: 5vmax;
}
#formGeneralMain>input[type=submit]{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vmax;
    padding: 0 0.5vmax;
    height: 3.6vmax;
    border-radius: 0.6vmax;
    border-color: transparent;
}
#inputsDatePeople{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65vmax;
}
.fontArial{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vmax;
    color: #909090;
}
/* SERVICES */
#services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 86vmax;
    height: 18vmax;
}
#services>h3{
    font-family: 'Times New Roman', Times, serif;
    color: #1E1E1E;
    font-size: 2.1vmax;
    line-height: 240%;
    letter-spacing: 0.01vmax;
}
#services>span{
    text-align: center;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: #1E1E1E;
    font-size: 1.25vmax;
    letter-spacing: 0.02vmax;
    line-height: 160%;
}
#services>span>a{
    display: inline;
    color: #1E1E1E;
}
/* SERVICES IMAGES */
#forServicesImg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2.5vmax;
    width: 89vmax;
    height: 33.5vmax;
}
#servicesImg{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 66vmax;
    height: 100%;
}
#servicesImg>#img1{
    align-self: flex-start;
    width: 27vmax;
    height: 16vmax;
}
#servicesImg>#img2{
    width: 37vmax;
    height: 16vmax;
}
#serImgEmty{
    width: 100%;
    height: 1.4vmax;
}
#servicesImg>#img3{
    align-self: flex-end;
    width: 44vmax;
    height: 16vmax;
}
#servicesImg>#img4{
    width: 20vmax;
    height: 16vmax;
}
/* WHY US */
#whyUs{
    flex-direction: column;
    align-items: center;
    width: 90vmax;
    height: 51vmax;
}
#whyUs>h3{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 2.3vmax;
    line-height: 480%;
}
#fourSecWhyUs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 33.5vmax;
}
.blockWhy{
    flex-direction: row;
    align-self: self-start;
    justify-content: space-between;
    width: 40vmax;
    height: 17vmax;
}
.blockWhyEnd{
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    width: 40vmax;
    height: 14vmax;
}
#marginWhy{
    margin-right: 4vmax;
}
.blockWhyImg{
    width: 8vmax;
}
#whyHeight1{
    height: 7.4vmax;
}
#whyHeight2{
    height: 7.2vmax;
}
#whyHeight3{
    height: 8vmax;
}
#whyHeight4{
    height: 7.6vmax;
}
.blockWhyDiv{
    width: 30vmax;
}
.blockWhyDiv>h3{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    color: #9D7C3C;
    line-height: 160%;
    font-size: 2.3vmax;
}
.whyEmty{
    width: 100%;
    height: 1.65vmax;
}
.blockWhyDiv>span{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 160%;
    font-size: 1.2vmax;
    width: 95%;
}

/* ROOMS */
#roomsIndex{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90vmax;
    height: 41.7vmax;
}
#roomsIndex>h3{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 2.2vmax;
    line-height: 1;
    text-transform: uppercase;
}
#sliderRoomsIndex{
    width: 100%;
    height: 34.5vmax;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#arrowSliderRoomLeft{
    width: 6vmax;
    height: 6vmax;
    background-image: url(/images/arrow.svg);
    background-size: cover;
    /* background-color: aqua; */
}
#roomImg{
    flex-direction: column;
    justify-content: end;
    background-image: url(/images/roomSliderIndex/img1.png);
    width: 73vmax;
    height: 100%;
    background-size: cover;
    border-radius: 1vmax;
}
#roomImgDesc{
    align-items: center;
    justify-content: center;
    background-color: rgba(30, 30, 30, 0.4);
    height: 10.5vmax;
    width: 100%;
}
#roomImgDesc>h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.2vmax;
    font-weight: 200;
    line-height: 200%;
    color: #D9D9D9;
}
#roomImgDesc>span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vmax;
    line-height: 120%;
    color: #D9D9D9;
    text-align: center;
    width: 65vmax;
}
#arrowSliderRoomRight{
    width: 6vmax;
    height: 6vmax;
    background-image: url(/images/arrow.svg);
    background-size: cover;
    rotate: 180deg;
}
#emtyBetweenRoomsContacts{
    width: 100%;
    height: 6vmax;
}

/* CONTACTS */
#contacts{
    align-items: center;
    width: 88.5vmax;
    height: 43vmax;
}
#contacts>h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.25vmax;
    text-transform: uppercase;
    font-weight: 200;
    line-height: 0.8;
}
#contactEmty{
    width: 100%;
    height: 3.3vmax;
}
#contactMap{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 38vmax;
}
#contactMap>iframe{
    width: 53vmax;
    height: 37.8vmax;
}
#contactContacts{
    flex-direction: column;
    justify-content: space-between;
    width: 28vmax;
    height: 29vmax;
}
.infoContact{
    flex-direction: column;
    justify-content: space-between;
}
#addr{
    width: 26vmax;
    height: 7.5vmax;
}
#phone{
    width: 26vmax;
    height: 7vmax;
}
#emil{
    width: 26vmax;
    height: 5.5vmax;
}
.goldContact{
    color: #9D7C3C;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6vmax;
    line-height: 190%;
}
.blackContact{
    color: #1E1E1E;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6vmax;
    text-transform: uppercase;
}
#emtyBetweenContactsFooter{
    width: 100%;
    height: 6.2vmax;
}
/* FOOTER */
#upFooter{
    width: 76vmax;
    height: 0.1vmax;
    border: transparent;
    background-color: #1E1E1E;
}
#emtyUpFooter{
    width: 100%;
    height: 4.2vmax;
}
footer{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 87vmax;
    height: 21vmax;
}
#columnFooter{
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
#logoFoo{
    width: 15vmax;
    height: 6.8vmax;
}
.columnFoo>span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vmax;
    line-height: 220%;
}
#coopyright{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vmax;
    line-height: 340%;
}
#coopyright>span{
    display: inline;
    color: #9D7C3C;
}
@font-face {
    font-family: 'TNR';
    src: url(/fonts/ofont.ru_Times\ New\ Roman.ttf);
}